/* Directions */
.curry-udon-wrapper{
  margin-top: 50px;
}

.curry-udon-wrapper img {
  width: 300px;
}

/* Event section*/
.event {
  margin-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, .4);
  padding-top: 64px;
  display: flex;
  flex-flow: column wrap;
  gap: 24px
}

.event-subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 16px;
}
.event-wrap {
  position: relative;
}

.event-wrap h4{
  margin-bottom: 24px;
  font-weight: 700;
  display: inline-block;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}

.event-video-wrap {
  margin-top: 30px;
}

.googlemap-yamagata {
  margin-top: 30px;
}

.register-imoni {
  margin-top: 30px;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #ff6347;
  color: white;
  cursor: pointer;
}

.register-imoni:hover {
  opacity: 0.7;
  transition: all 0.5s;
  transform: scale(0.9);
}

.modal-for-imoni {
  width: 800px;
  height: 200px;
  text-align: center;
  line-height: 1.5;
  background-color: white;
  position: absolute;
  left: 360px;
  bottom: 100px;
  padding: 20px 0;
}

.modal-for-imoni p {
  padding: 20px 20px;
}

.close-imoni-modal {
  padding: 10px;
  /* font-size: 1.1rem; */
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  cursor: pointer;
}

.close-imoni-modal:hover {
  opacity: 0.7;
  transition: all 0.5s;
  transform: scale(0.9);
}

#up{
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin-left: 1500px;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

#up:hover{
  cursor: pointer;
  background-color: gray;
  
}

