.recipe-container {
  padding-top: 96px;
}

/* img */
.recipe-figure > img {
  cursor: pointer;
}

.image-section {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.image-section > img {
  flex: 1;
  max-width: 200px;
  height: auto;
}

.image-section > img:first-child {
  padding-right: 1rem;
}

/* Modal */
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 12px;
  overflow-y: auto;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__container > img {
  border-radius: 12px;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.6s cubic-bezier(0, 0, 0.5, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.6s cubic-bezier(0, 0, 0.5, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.6s cubic-bezier(0, 0, 0.5, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.6s cubic-bezier(0, 0, 0.5, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#up{
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin-left: 1500px;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

#up:hover{
  cursor: pointer;
  background-color: gray;
  
}
