.container {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}

.slider-inner {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: 1px solid gray;
}

.slider-inner img {
  display: none;
  width: 500px;
  height: 300px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev, .next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
}

.prev {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.prev:hover {
  opacity: 0.8;
}

.next {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: -45px;
  z-index: 100;
}

.next:hover {
  opacity: 0.8;
}
