.hero-container{
    margin-top: 116px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 100px;
}

.baslik{
    padding-right: 200px;
}

.h1{
    margin-right: 700px;
    margin-top: -25px;
    background-color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.yazi{
    position: absolute;
}

.yazi1{
    width: 50%;
    margin-top: 10px;
}

.iki{
    display: flex;
    flex-direction: column;
    border-left: 1.5px solid black;
}

.bir{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top:  25px
}
.umeshu{
    width: 25%;
    cursor: pointer;
}

.hero-container p{
    width: 45%;
    letter-spacing: 1px;
    margin-left: 10px;
}
.ikii{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top: 25px;
}
.caipirinha{
    width: 25%;
    cursor: pointer;
}
.uc{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top: 25px;

}
.raki{
    width: 25%;
    cursor: pointer;
}

.foti{
    cursor: pointer;
}