.hero-container{
    margin-top: 116px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 100px;
}

.sake-div{
    padding-right: 200px;
}

.sake-question{
    margin-right: 700px;
    margin-top: -25px;
    background-color: white;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.first-div{
    position: absolute;
}

.sake-info{
    width: 50%;
    margin-top: 10px;
}

.drinks{
    display: flex;
    flex-direction: column;
    border-left: 1.5px solid black;
}

.umeshu-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top:  25px
}
.umeshu{
    width: 25%;
    cursor: pointer;
}

.hero-container p{
    width: 45%;
    letter-spacing: 1px;
    margin-left: 10px;
}
.caipirinha-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top: 25px;
}
.caipirinha{
    width: 25%;
    cursor: pointer;
}
.raki-div{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    padding-top: 25px;

}
.raki{
    width: 25%;
    cursor: pointer;
}

.hero-main-div{
    cursor: pointer;
}