.step-picture-box {
  display: flex;
  gap: 16px;
  max-width: 50%;
  margin-top: 24px;
}

.step-picture img {
  width: 100%;
}

#up{
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin-left: 1500px;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

#up:hover{
  cursor: pointer;
  background-color: gray;
  
}